:root {
  /* Primary */

  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  /* Neutral */

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: none;
}

body {
  font-family: Inter;
  padding: 6rem 8rem;
  position: relative;
  height: 60rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.attribution {
  font-size: 11px;
  text-align: center; 
  position: absolute;
  top: 120%;
  left: 1%;
  z-index: 1;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 1250px) {
  html {font-size: 12px;}
}

@media screen and (max-width: 950px) {
  html {font-size: 8px;}
}

@media screen and (max-width: 620px) {
  html {font-size: 16px;}

  body {
    height: 140rem;
    padding: 1rem;
    width: 375px;
  }

  
}